<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>microProfile-5.0</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm">
    </basicRegistry>
    <variable name="server.port" value="9000"/>
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${server.port}"
                  httpsPort="-1"
                  host="*"
        />

    <webApplication location="app-books-1.0-SNAPSHOT.war" name="app-books" contextRoot="/"/>
    <applicationManager autoExpand="true"/>
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
    <keyStore id="defaultKeyStore" password="password123" />
</server>
